<!-- attempt_quiz.html -->
{% extends 'base.html' %}
{% block content %}
  <h2>Answer Questions: {{ quiz.title }}</h2>
  <form method="post">
    {% csrf_token %}
    {% for question in questions %}
      <div>
        <p><strong>{{ forloop.counter }}. {{ question.text }}</strong></p>
        {% for option in question.options.all %}
          <input type="radio" name="{{ question.id }}" value="{{ option.id }}" id="option{{ option.id }}">
          <label for="option{{ option.id }}">{{ option.text }}</label><br>
        {% endfor %}
      </div>
    {% endfor %}
    <button type="submit">Submit Your Answers</button>
  </form>
{% endblock %}
