<!-- base.html -->
{% load static %}
<html lang="en">
<head>
    {% block title %}<title>Quizzy</title>{% endblock %}
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
    {% block sidebar %}
    {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
        <p><a href="{% url 'logout' %}">logout</a></p>
    {% else %}
        <p>You are not logged in.</p>
        <p><a href="{% url 'login' %}" class="btn2" data-text="login"><span>Welcome!</span></a> <a href="{% url 'signup' %}" class="btn2" data-text="sign up"><span>nice</span><span>to</span><span>meet</span><span>you!</span></a></p>
    {% endif %}

    <ul class="sidebar-nav">
        <li><a href="{% url 'quiz_list' %}" class="btn from-top">Home</a></li>
        <li><a href="{% url 'quiz_create' %}" class="btn from-bottom">Create Quiz</a></li>
        <li><a href="{% url 'import_quizzes' %}" class="btn from-left">Import Quizzes</a></li>
    </ul>

    {% endblock %}

    {% block content %}
    {% endblock content%}
</body>
</html>
