<!-- quiz_detail.html -->
{% extends 'base.html' %}
{% block content %}
<h1>{{ quiz.title }}</h1>
<p>{{ quiz.description }}</p>
<p>Questions:</p>
<ol>
    {% for question in quiz.questions.all %}
        <li><a href="{% url 'question_detail' pk=question.pk %}">{{ question.text }}</a></li>
    {% endfor %}
</ol>
<h1><a href="{% url 'attempt_quiz' quiz.id %}">-=Attempt Quiz=-</a></h1>
<p><a href="{% url 'question_create' quiz.id %}">+ Create Question</a></p>
<p><a href="{% url 'quiz_delete' quiz.pk %}">- Delete Quiz</a></p>
{% endblock %}