/* base.css */

.main-content {
    margin: 0 auto; /* Center the main content */
    padding: 20px; /* Add padding inside the main content for breathing space */
    max-width: 800px; /* Limit the max width of the main content for better readability */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h2 {
    color: #333;
}

ul, ol {
    list-style-type: none;
    padding: 0;
}

a {
    color: #0275d8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-control {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

input[type="submit"],
button {
    background-color: #0275d8;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover,
button:hover {
    background-color: #025aa5;
}

.sidebar-nav {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
        text-shadow:
        -0.8px -0.8px 0 #fff,  
         0.8px -0.8px 0 #fff,
        -0.8px  0.8px 0 #fff,
         0.8px  0.8px 0 #fff;
}

.sidebar-nav li {
    padding: 10px 0;
}


.form-control, .form {
    padding: 10px;
}

ul, ol {
    padding-left: 20px;
    margin: 0 0 20px 0;
}

div {
    padding: 10px 0;
}